<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>
<body>

    <form method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{address.name}}"><br><br>
      
        <label for="street_address">Street Address:</label><br>
        <input type="text" id="street_address" name="street_address" value="{{address.street_address}}"><br><br>
      
        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" value="{{address.city}}"><br><br>
      
        <label for="state">State:</label><br>
        <input type="text" id="state" name="state" value="{{address.state}}"><br><br>
      
        <label for="postal_code">Postal Code:</label><br>
        <input type="text" id="postal_code" name="postal_code" value="{{address.postal_code}}"><br><br>
      
        <label for="country">Country:</label><br>
        <input type="text" id="country" name="country" value="{{address.country}}"><br><br>
      
        <label for="phone_number">Phone Number:</label><br>
        <input type="text" id="phone_number" name="phone_number" value="{{address.phone_number}}"><br><br>
      
        <label for="is_default">Is Default:</label><br>
        <input type="checkbox" id="is_default" name="is_default" {%if address.is_default %} checked  {%endif %}><br><br>
      
        <input type="submit" value="Update Address">
      </form>
      
</body>
</html>